* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #dde6ee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.block {
  margin: 5px auto 10px;
}

p {
  display: inline-block;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
}

.container {
  width: 600px;
  height: 600px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}
